#main-logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
    background-image: url('../assets/img/logo.png');
    background-size: cover;
  }

#main-layout{
    height: 100%;

}
#main-content{
    height: 100%;
}
.subpage-container{
    height: 100%;
}
.Pagination-container{
    margin-bottom: 20px;
    text-align: center;
}
.cover-bg{
    background-image: url('http://47.106.34.252/default.png');
    background-size: 128px 128px;
    background-position: center;
    background-repeat: no-repeat;
}

body{
    background-color: #f0f2f5;
    
}
